<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../stylesheets/default.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <nav>
        <a href="/">Car Seller</a>
        <a href="/allsell/0">Buy/Sell</a>
        <a href="/">Profile</a>
        <% if(isLoggedInVal){ %>
            <a href="/logOut">Log me out</a>
        <% } %>
    </nav>