*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

/* 
nav{
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
}

nav a:nth-child(1){
    margin-right: 100px;
}

nav a{
    font-weight: 500;
    color: black;
    margin-right: 20px;
    text-decoration: none;
} */

#container{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
}

#dets{
    display: flex;
    align-items: center;
}

#image{
    width: 120px;
    height: 120px;
    background-color: #eee;
    border-radius: 10px;
    margin-right: 20px;
    overflow: hidden;
}

#image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#form{
    margin-top: 100px;
}


#form input{
    width: 30%;
    display: block;
    padding: 10px 12px;
    outline: none;
    border: 2px solid #eee;
    border-radius: 4px;
    margin: 20px 0;
}

#posts{
    margin-top: 50px;
}

.post{
    position: relative;
    width: 400px;
    min-height: 250px;
    margin-top: 30px;
    padding: 20px;
    border: 2px solid #eee;
    border-radius: 5px;
}



.post img{
    display: block;
    width: 200px;
}

button{
    padding: 8px 22px;
    margin-top: 5px;
    color: #fff;
    border: 2px solid #eee;
    border-radius: 5px;
    outline: none;
    background-color: rgb(87, 177, 238);
}

#prflform{
    display: none;
}
#delPost{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    text-decoration: none;
    padding-bottom:20px;
}
#delPost i{
   margin-right: 15px;
   font-size: 20px;
   color: rgb(119, 119, 119);
}
#delPost i:hover{
    color: red;
 }

#val{
    font-weight: 400;
}

#val2{
    margin: 15px 0px 5px 0px;
}